<div class="jumbotron">
    <h1 class="title">泥娃娃招聘网</h1>
    <p class="slogan">泥娃娃招聘网 是一个提供高达22k薪水工作机会的求职网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
    <br>
     凭借自己的努力和天份也会变 Winner
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>
  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tKfTcjw1fbybee9m6zj303k03kweh.jpg" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>成都市武侯区62号</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tKfTcjw1fbybhh9t1nj303k03ka9y.jpg" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>hire@18koffer.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww4.sinaimg.cn/large/006tKfTcjw1fbybl3i3c5j303k03ka9z.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>028-166999</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
